
#title{
	
}
#mota{
	background-color: #f2f2f2;
	padding-top: 20px;
}
#menu{
	text-transform: uppercase;
	font-weight: 700;
	color: #cf2127;
	font-size: 16px;
	padding: 13px 26px;
}

#menu1{
	background: #fff;
	height: auto;
	position: relative;
	border: 1px solid #ebebeb;
    padding: 15px 5px 15px 15px;
    /*width: 235px;*/
    margin-left: 20px;
    border-radius: 4px;
    display: none;
}
.menu_restaurant_category{
	position: relative;
}
.item{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
    padding: 2px 0;
}
.item-link{
	font-size: 13px;
    display: inline-block;
    color: #6d6f71;
    text-transform: uppercase;
    padding: 3px 7px 1px;
    border-radius: 4px;
    cursor: pointer;
}
.menu-restaurant-category .item .link{
	/*height: auto;*/
	padding: 5px 10px;
}
.menu-restaurant-category .item .link:hover{
    background-color: #959595;
    color: #fff;
}
#menu2{
	position: relative;
	background: #fff;
	height: auto;
}
#menu2_2{
	height: auto;
	padding-top: 15px;
}
#menu3{
	background: #fff;
	height: auto;
	position: relative;
}

#menu2_2 p{
	margin: 0;
	position: relative;
	color: #46464c;
	/*border: solid 1px red;*/
}

#menu2_2 p i{
	position: absolute;
	padding: 15px;
	line-height: 10px;
}
#menu2_2 p input{
	width: 100%;
	padding: 0 40px;
	border: 0;
	border: 1px solid #ededed;
	height: 40px;
}
#menu2_2 #form{
	height: auto;
	margin-bottom: 5px;
}
#form .titleProduct{
	height: 40px;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
#form .titleProduct .content{
	text-transform: uppercase;
	color: #6d6f71;
	padding: 5px 0 0;
	margin: 10px 0 10px;
}

#form #product{
	height: 71px;
    margin: 5px 0px 0px;
    width: 100%;
    border-bottom: 2px solid #f5f5f5;
}
#form #product img{
	width: 60px;
	height: 60px; 
}
#form #product .namePr{
    color: #464646;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}
#form #product .costPr{
    color: #0288d1;;
    font-size: 16px;
    font-weight: bold;
}

/*css cho dropdown thong tin cá nhân*/
.dropdown-menu{
	width: 165px;
	height: 100px
}
.thongtinCN{
	padding: 8px 31px 22px 20px;
	color: black;
	text-decoration: none;
}
.thongtinCN:hover{
	background-color: #eee;
	text-decoration: none;
}
.thongtinMK{
	padding: 22px 61px 14px 20px;
	color: black;
	text-decoration: none;
}
.thongtinMK:hover{
	background-color: #eee;
	text-decoration: none;
}

#_thuc_don{
	padding-bottom: 25px;
}